@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root{
    --yellow: #F8AF23;
    --pink: #F46275;
    --blue: #63BCE7;
    --orange: #FC5D3D;
    --gray: #CECECE;
    --darkblue: #3F3679;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
    color: inherit;
}

p{
    text-align: justify;
}

body{
    background-color: var(--gray);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: "Poppins";
}

.apresentacaoContainer{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.apresentacaoContainer nav{
    width: 80%;
    height: 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 1rem;
}

.apresentacaoContainer ul{
    width: 60%;
    display: flex;
    justify-content: space-evenly;
}

section{
    width: 80%;
    height: 70%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.imgContainer{
    width: 40%;
    height: 100%;
    position: relative;
    display: flex;
    flex-direction: center;
    justify-content: center;
}

.imgContainer .javascriptImg{
    width: 200px;
    height: 200px;
    position: absolute;
    top: 35px;
    z-index: 99;
}

.imgContainer .htmlImg{
    width: 150px;
    height: 150px;
    position: absolute;
    z-index: 1;
    bottom: 20px;
    left: 50px;
    transform: rotate(35deg);
}

.imgContainer .cssImg{
    width: 115px;
    height: 115px;
    position: absolute;
    z-index: 0;
    bottom: 15px;
    right: 70px;
    transform:rotate(-35deg);
}

.textContainer{
    height: 100%;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0 5rem;
}

span{
    color: var(--yellow);
    border-bottom: 2px solid black;
}

.scrollContainer{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80%;

}

.scrollContainer img{
    height: 50px;
    width: 50px;
}

#exercicio{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin: 1rem 0 2rem 0;
}

#exercicio h2{
    margin-bottom: 1rem;
}

.cardContainers{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1rem;
}



.card{
    border: 2px solid var(--darkblue) ;
    border-radius: 1rem;
    width: 250px;
    height: 210px;
    padding: 1rem;
    background-color: var(--yellow );
}

.card h3{
    height:60px ;
}
.card p{
    height: 60px;
    font-size: 12px;
}

.buttonCard{
    display: flex;
    align-items: center;
    margin-top: 1.5rem;
}

.card .round{
    width: 30px;
    height: 30px;
    background-color: var(--pink);
    border: 2px solid var(--darkblue);
    border-radius: 50%;
    margin-right: 0.25rem;
}

.card button{
    width: 80%;
    height: 30px;
    background-color: var(--pink);
    border: 2px solid var(--darkblue);
    border-radius: 1rem;
}


#sobre{
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
}


.sobreProjetoContainer{
    width: 45%;
    height: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.sobreProjetoContainer p{
    text-align: justify;
    margin: 1rem 0;
}

.sobreNosProjeto{
    width: 65%;
}

.sobreCard{
    display: flex;
    flex-direction: column;
    margin: 1rem 0 0 2rem;
}

.autorContainer{
    display: flex;
    align-items: center;
}

.autorContainer img{
    margin-right: 2rem;
}

.autorContainer h3{
    font-size: 2rem;
}

.sobreCard img{
    height: 100px;
    width: 100px;
}

.textSobreCard{
    width: 90%;
    
}

.textSobreCard p{
    padding: 1rem;
}

.socialLinks{
    display: flex;
    gap: 1rem;
    justify-content: center;
}

.socialLinks img, .sobreProjetoContainer img{
    width: 50px;
    height: 50px;
}

.sobreProjetoContainer img{
    margin-top: 1rem;
}

footer{
    height: 300px;
    width: 100%;
    margin-top: 2rem;
    padding: 2rem;
    background-color: var(--yellow);
}

